@import 'primeicons/primeicons.css';
@import "tailwindcss";
@import './fonts.css';

@layer utilities {
    .ltr {
        direction: ltr;
    }
}

html{
    @apply text-sm font-['vazir'];
}

hr{
    @apply grow text-gray-200;
}