@font-face {
    font-family: "vazir";
    font-style: thin;
    font-weight: 100;
    src: url("./woff2/Thin-FD.woff2") format("woff2");
}

@font-face {
    font-family: "vazir";
    font-style: normal;
    font-weight: 300;
    src: url("./woff2/Light-FD.woff2") format("woff2");
}

@font-face {
    font-family: "vazir";
    font-style: normal;
    font-weight: 400;
    src: url("./woff2/Regular-FD.woff2") format("woff2");
}

@font-face {
    font-family: "vazir";
    font-style: medium;
    font-weight: 500;
    src: url("./woff2/Medium-FD.woff2") format("woff2");
}

@font-face {
    font-family: "vazir";
    font-style: bold;
    font-weight: 700;
    src: url("./woff2/Bold-FD.woff2") format("woff2");
}

@font-face {
    font-family: "vazir";
    font-style: black;
    font-weight: 900;
    src: url("./woff2/Black-FD.woff2") format("woff2");
}
