@font-face {
    font-family: "vazir";
    font-style: thin;
    font-weight: 100;
    src: url("./eot/Thin-FD.eot");
    src:
        url("./eot/Thin-FD.eot") format("embedded-opentype"),
        url("./ttf/Thin-FD.ttf") format("truetype"),
        url("./woff/Thin-FD.woff") format("woff"),
        url("./woff2/Thin-FD.woff2") format("woff2");
}

@font-face {
    font-family: "vazir";
    font-style: normal;
    font-weight: 300;
    src: url("./eot/Light-FD.eot");
    src:
        url("./eot/Light-FD.eot") format("embedded-opentype"),
        url("./ttf/Light-FD.ttf") format("truetype"),
        url("@/asse.swoff/ight-FD.woff") format("woff"),
        url("./woff2/Light-FD.woff2") format("woff2");
}

@font-face {
    font-family: "vazir";
    font-style: normal;
    font-weight: 400;
    src: url("./eot/Regular-FD.eot");
    src:
        url("./eot/Regular-FD.eot") format("embedded-opentype"),
        url("./ttf/Regular-FD.ttf") format("truetype"),
        url("@/asse.swoff/ular-FD.woff") format("woff"),
        url("./woff2/Regular-FD.woff2") format("woff2");
}

@font-face {
    font-family: "vazir";
    font-style: medium;
    font-weight: 500;
    src: url("./eot/Medium-FD.eot");
    src:
        url("./eot/Medium-FD.eot") format("embedded-opentype"),
        url("./ttf/Medium-FD.ttf") format("truetype"),
        url("@/asse.swoff/dium-FD.woff") format("woff"),
        url("./woff2/Medium-FD.woff2") format("woff2");
}

@font-face {
    font-family: "vazir";
    font-style: bold;
    font-weight: 700;
    src: url("./eot/Bold-FD.eot");
    src:
        url("./eot/Bold-FD.eot") format("embedded-opentype"),
        url("./ttf/Bold-FD.ttf") format("truetype"),
        url("./woff/Bold-FD.woff") format("woff"),
        url("./woff2/Bold-FD.woff2") format("woff2");
}

@font-face {
    font-family: "vazir";
    font-style: black;
    font-weight: 900;
    src: url("./eot/Black-FD.eot");
    src:
        url("./eot/Black-FD.eot") format("embedded-opentype"),
        url("./ttf/Black-FD.ttf") format("truetype"),
        url("@/asse.swoff/lack-FD.woff") format("woff"),
        url("./woff2/Black-FD.woff2") format("woff2");
}
